:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.images {
    display:flex;
}

.image {
    display:flex;
    max-width: 300px;
}

.grid {
    display:grid;
    grid-template-rows: 15% 35% 10% 10% 30%;
}

.box {
    background-color:blanchedalmond;
    border: 2px blueviolet solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.a {

}

.b {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.c {
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

.d {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.e {
    display:grid;
    grid-template-columns: 1fr 1fr;
}